.properties {
    flex: 0 0 5.94cm; /* 20% de 29.7cm */
    max-height: 5.94cm;
    min-height: 5.94cm;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea los elementos en la parte superior */
    align-items: flex-start;
    gap: 0.2cm; /* Espacio entre cada párrafo */

    p {
        padding-left: 1cm;
        font-size: 11pt;
        margin: 0;
    }
}
